@let entity = user();

<h2 mat-dialog-title>User Details</h2>

<mat-dialog-content>
  <h3>fullName</h3>
  <p>{{ `${entity.firstName} ${entity.lastName}` }}</p>

  <h3>email</h3>
  <p>{{ entity.email }}</p>

  @if (entity.phoneNumber) {
    <h3>phoneNumber</h3>
    <p>{{ entity.phoneNumber }}</p>
  }
  
  @if (entity.birthDate) {
    <h3>birthDate</h3>
    <p>{{ entity.birthDate }}</p>
  }

  <h3>role</h3>
  <p>{{ entity.role }}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button matButton="filled" (click)="onCloseClick()">close</button>
</mat-dialog-actions>
