<div class="container">
  <div class="toolbar">
    <app-user-table-filter
      (filterChanged)="onFilterChange($event)"
    ></app-user-table-filter>

    <button matButton="filled" (click)="onUserCreateClick()">
      create user
    </button>

    <mat-paginator
      #paginator
      [length]="userListFiltered()?.length"
      [pageSize]="PAGE_SIZE"
      [pageIndex]="pageIndex()"
      [hidePageSize]="true"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>

  <div class="table">
    <app-user-table
      [userList]="userListFilteredPaginated() ?? []"
      (userSelected)="onUserSelect($event)"
    ></app-user-table>
  </div>
</div>
